{% extends 'base.html.twig' %}

{% block title %}{{'platform.name'|trans}} - {{'title.section-account'|trans}}{% endblock %}

{% block body %}
	<h4 class="fw-bold py-3 mb-4">
		<span class="text-muted fw-light">{{'breadcrumb.account-settings'|trans}} /</span>{{'breadcrumb.account.infos'|trans}}
	</h4>

	<div class="row">
		<div class="col-md-12">
			{% include('account/tabs.html.twig') %}
			<div class="card mb-4">
				<h5 class="card-header">{{'account.informations'|trans}}</h5>
				<!-- Account -->
				<!--<div class="card-body">
					<div class="d-flex align-items-start align-items-sm-center gap-4">
						<img src="../assets/img/avatars/1.png" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar"/>
						<div class="button-wrapper">
							<label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
								<span class="d-none d-sm-block">Upload new photo</span>
								<i class="bx bx-upload d-block d-sm-none"></i>
								<input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg"/>
							</label>
							<button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
								<i class="bx bx-reset d-block d-sm-none"></i>
								<span class="d-none d-sm-block">Reset</span>
							</button>

							<p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
						</div>
					</div>
				</div>
				<hr class="my-0"/>-->
				<div class="card-body">
				{{ form_start(userUpdateInfosForm) }}
						<div class="row">
							{% if formErrors is not empty %}
								{% if formErrors|length %}
									<div class="alert alert-warning" role="alert">
										<ul>
											{% for error in formErrors %}
												<li>{{ error.message }}</li>
											{% endfor %}
										</ul>
									</div>
								{% endif %}
							{% endif %}
							{% if formSuccess is not empty %}
								<div class="alert alert-success" role="alert">
									{{'form.success.generic'|trans}}
								</div>
							{% endif %}
							<div class="mb-3 col-md-6 form-password-toggle">
								<label class="form-label" for="password">{{'form.firstname.label'|trans}}</label>
								<div class="input-group input-group-merge">
									{{ form_widget(userUpdateInfosForm.firstname, {
										label: false,
										attr: {
											class: 'form-control',
											value: app.user.firstname
										},
										id: "firstname"
									}) }}
								</div>
							</div>
							<div class="mb-3 col-md-6 form-password-toggle">
								<label class="form-label" for="password">{{'form.lastname.label'|trans}}</label>
								<div class="input-group input-group-merge">
									{{ form_widget(userUpdateInfosForm.lastname, {
										label: false,
										attr: {
											class: 'form-control',
											value: app.user.lastname
										},
										id: "lastname"
									}) }}
								</div>
							</div>
							<div class="mb-3 col-md-6">
								<label for="email" class="form-label">E-mail</label>
								<input class="form-control" type="text" id="email" value="{{app.user.email}}" disabled="disabled"/>
							</div>
							<!--<div class="mb-3 col-md-6">
															<label for="language" class="form-label">Language</label>
															<select id="language" class="select2 form-select">
																<option value="">Select Language</option>
																<option value="en">English</option>
																<option value="fr">French</option>
																<option value="de">German</option>
																<option value="pt">Portuguese</option>
															</select>
														</div>-->
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('user_upd_infos') }}">
						<input type="submit" class="btn btn-primary" value="{{'form.upd-infos-btn'|trans}}">
					{{ form_end(userUpdateInfosForm) }}
				</div>
				<!-- /Account -->
			</div>
		</div>
	</div>
{% endblock %}
