{% extends 'base.html.twig' %}

{% block title %}{{'platform.name'|trans}} - {{'section-account.title'|trans}}{% endblock %}

{% block body %}
	<h4 class="fw-bold py-3 mb-4">
		<span class="text-muted fw-light">{{'breadcrumb.account-settings'|trans}} /</span>{{'breadcrumb.account.removal'|trans}}
	</h4>

	<div class="row">
		<div class="col-md-12">
			{% include('account/tabs.html.twig') %}
			<div class="card mt-4">
				<h5 class="card-header">account-structur{{'section-account.removal-title'|trans}}</h5>
				<div class="card-body">
					<div class="mb-3 col-12 mb-0">
						<div class="alert alert-warning">
							<h6 class="alert-heading fw-bold mb-1">{{'section-account.removal-sure'|trans}}</h6>
							<p class="mb-0">{{'section-account.removal-contact-admin'|trans}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}