{% extends 'base.html.twig' %}

{% block title %}{{'platform.name'|trans}} - {{'section-account.title'|trans}}{% endblock %}

{% block body %}
	<h4 class="fw-bold py-3 mb-4">
		<span class="text-muted fw-light">{{'breadcrumb.account-settings'|trans}} /</span>{{'breadcrumb.account.structure'|trans}}
	</h4>

	<div class="row">
		<div class="col-md-12">
			{% include('account/tabs.html.twig') %}
			{% if formErrors is not empty %}
				{% if formErrors|length %}
					<div class="alert alert-danger mt-4 mb-0" role="alert">
						<ul class="mb-0 pb-0">
							{% for error in formErrors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endif %}
			{% for structure in app.user.structures %}
				{% set userCohortsId = [] %}
				{% for cohortUser in app.user.cohorts %}
					{% set userCohortsId= userCohortsId|merge({(cohortUser.id~'_'):cohortUser.id}) %}
				{% endfor %}
				<div class="card mt-4">
					<div class="card-body">
						<h3 class="mb-0">{{structure.name}}</h3>
						<div class="divider mt-0 mb-0">
							<div class="divider-text">
								<i class="bx bx-star"></i>
							</div>
						</div>
						<form action="" method="post">
							<div class="row ps-3 mt-0 mb-4">
								{% for cohort in structure.cohorts|sort %}
									{% if cohort.id in userCohortsId %}
										{% set isPresent = 'checked="checked"' %}
									{% else %}
										{% set isPresent = '' %}
									{% endif %}
									<div class="form-check mt-3 col-md-3">
										<input type="checkbox" id="cohort-{{structure.id}}-{{cohort.id}}" name="cohort-{{structure.id}}[]" class="form-check-input" {{isPresent}} value="{{cohort.id}}"/>
										<label class="form-check-label" for="cohort-{{structure.id}}-{{cohort.id}}"> {{cohort.name}} </label>
									</div>
								{% endfor %}
							</div>
							<input type="hidden" name="structure" value="{{structure.id}}">
							<input type="submit" class="btn btn-primary" value="{{'form.save-btn'|trans}}">
						</form>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}