{% extends 'empty.html.twig' %}

{% block title %}
	{{'login.title'|trans}}
{% endblock %}

{% block body %}
			<!-- /Logo -->
			<h4 class="mb-2">{{'login.welcome'|trans}}</h4>
			<p class="mb-4">{{'login.signin_phrase'|trans}}</p>

			<form method="post" id="formAuthentication" class="mb-3">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}
				<div class="mb-3">
					<label for="email" class="form-label">{{'form.email.label'|trans}}</label>
					<input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" autocomplete="email" placeholder="{{'login.email.placeholder'|trans}}" required autofocus>
				</div>
				<div class="mb-3 form-password-toggle">
					<div class="d-flex justify-content-between">
						<label class="form-label" for="password">{{'form.password.label'|trans}}</label>
						<a href="auth-forgot-password-basic.html">
							<small>{{'login.forgot_password.cta'|trans}}</small>
						</a>
					</div>
					<div class="input-group input-group-merge">
						<input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password">
						<span class="input-group-text cursor-pointer">
							<i class="bx bx-hide"></i>
						</span>
					</div>
				</div>
				<div class="mb-3">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="remember-me"/>
						<label class="form-check-label" for="remember-me">
							{{'remember.me'|trans}}
						</label>
					</div>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="mb-3">
					<button class="btn btn-primary d-grid w-100" type="submit">{{'login.signin.button'|trans}}</button>
				</div>
			</form>

			<p class="text-center">
				<span>{{'login.new.link'|trans}}</span>
				<a href="auth-register-basic.html">
					<span>{{'login.new.create'|trans}}</span>
				</a>
			</p>
{% endblock %}
