{% extends 'empty.html.twig' %}

{% block title %}
	{{'register.title'|trans}}
{% endblock %}



{% block form_row %}
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
{% endblock form_row %}

{% block body %}
	<h4 class="mb-2">{{'register.welcome'|trans}}</h4>
	<p class="mb-4">{{'register.signin_phrase'|trans}}</p>

	{% if formErrors is not empty %}
		{% if formErrors|length %}
			<div class="alert alert-warning" role="alert">
				<ul>
					{% for error in formErrors %}
						<li>{{ error.message }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	{% endif %}
	{% if errorStructureKey is not empty %}
		{% if errorStructureKey|length %}
			<div class="alert alert-warning" role="alert">
				<ul>
					<li>{{ errorStructureKey }}</li>
				</ul>
			</div>
		{% endif %}
	{% endif %}
	{{ form_start(registrationForm) }}
	<div class="mb-3">
		<label for="email" class="form-label">{{'form.email.label'|trans}}</label>
		{{ form_row(registrationForm.email, {
            label: false,
            attr: {
                class: 'form-control'
            }
        }) }}
	</div>
    <div class="mb-3">
		<label for="email" class="form-label">{{'form.firstname.label'|trans}}</label>
		{{ form_row(registrationForm.firstname, {
            label: false,
            attr: {
                class: 'form-control'
            }
        }) }}
	</div>
    <div class="mb-3">
		<label for="lastname" class="form-label">{{'form.lastname.label'|trans}}</label>
		{{ form_row(registrationForm.lastname, {
            label: false,
            attr: {
                class: 'form-control'
            }
        }) }}
	</div>
	<div class="mb-3">
		<label for="registerKey" class="form-label">{{'form.registerKey.label'|trans}}</label>
		{{ form_row(registrationForm.registerKey, {
            label: false,
            attr: {
                class: 'form-control'
            }
        }) }}
	</div>
	<div class="mb-3 form-password-toggle">
		<label class="form-label" for="password">{{'form.password.label'|trans}}</label>
		<div class="input-group input-group-merge">
			{{ form_widget(registrationForm.plainPassword.first, {
                    label: false,
                    attr: {
                        class: 'form-control',
                        placeholder: "************"
                    },
                    id: "password"
                }) }}
			<span class="input-group-text cursor-pointer">
				<i class="bx bx-hide"></i>
			</span>
		</div>
	</div>
    <div class="mb-3 form-password-toggle">
		<label class="form-label" for="password">{{'form.passwordrepeat.label'|trans}}</label>
		<div class="input-group input-group-merge">
			{{ form_widget(registrationForm.plainPassword.second, {
                    label: false,
                    attr: {
                        class: 'form-control',
                        placeholder: "************"
                    },
                    id: "password-repeat"
                }) }}
			<span class="input-group-text cursor-pointer">
				<i class="bx bx-hide"></i>
			</span>
		</div>
	</div>

	<div class="mb-3">
		<div class="form-check">
			{{ form_row(registrationForm.agreeTerms, {
                label: false,
                attr: {
                    class: 'form-check-input'
                }
            }) }}
			<label class="form-check-label" for="terms-conditions">
				I agree to
				<a href="javascript:void(0);">privacy policy & terms</a>
			</label>
		</div>
	</div>
	<button class="btn btn-primary d-grid w-100">{{'register.signup.button'|trans}}</button>
	{{ form_end(registrationForm) }}


	<p class="text-center">
		<span>{{'register.already.text'|trans}}</span>
		<a href="auth-register-basic.html">
			<span>{{'register.signin.instead'|trans}}</span>
		</a>
	</p>
{% endblock %}
