<div class="input-group mb-3 js-quizz-display-answer" data-aid="{{idR}}">
    <div class="form-check">
        <input 
            class="form-check-input" 
            type="checkbox" 
            value="good" 
            aria-label="Checkbox for following text input" 
            name="q_{{idQ}}_a_{{idR}}_v" 
            id="q_{{idQ}}_a_{{idR}}_v"
        >
        <label class="form-check-label" for="q_{{idQ}}_a_{{idR}}_v"> {{answer.t|default('')}} </label>
    </div>
</div>